@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------navbar-------------------*/
.navbar{
    background-color: #ffcdd4;
}
/*----------------header-------------------*/
.header{
    background-color: rgb(238, 98, 138);
}
.headerH1{
    text-align: center;
}
.headerH2{
    text-align: center;
}
/*----------------index main----------------*/

/*----------------promociones----------------*/
.promocion{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:  #ffcdd4;
    align-items: center;
    transition: all 0.4s;
}
.promocion:hover{
    box-shadow: 0px 5px 16px 3px rgba(142,112,112,0.75);
    -webkit-box-shadow: 0px 5px 16px 3px rgba(142,112,112,0.75);
    -moz-box-shadow: 0px 5px 16px 3px rgba(142,112,112,0.75);
    transform: translateY(-10px);
}
.promoH2{
    text-align: center;
}
.promoTxt{
    text-align: center;
}
.promoP{
    padding: 0;
    margin: 3px;
}
.imgPromo{
    border-radius: 8px;
}
.comprar{
    background-color: rgb(238, 98, 138);
    width: 40%;
    height: 30px;
    border-radius: 8px;
    border: 0;
    color: white;
    margin: 0;
}
/*---------------servicios main-------------------*/
.serviciosContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 96%;
    margin: 2%;
}
.serviciosTitulo{
    font-size: 50px;
    text-align: center;
    margin: 16px 0px 0px 0px;
}
/*-------------------servicio---------------*/
.servicio{
    width: 48%;
    margin: 10px 0;
    background-color: #FFCDD4;
    border-radius: 10px;
    transition: all 0.4s;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "srvcTitle srvcTitle srvcTitle srvcTitle"
                         "srvcImgCont srvcImgCont srvcTxt srvcTxt";
}
.servicio:hover{
    box-shadow: 0px 5px 16px 3px rgba(142,112,112,0.75);
    -webkit-box-shadow: 0px 5px 16px 3px rgba(142,112,112,0.75);
    -moz-box-shadow: 0px 5px 16px 3px rgba(142,112,112,0.75);
    transform: translateY(-10px);
}
.srvcTitle{
    grid-area: srvcTitle;
    padding: 10px 0px 0px 0px;
    text-align: center;
}
.srvcTitle h3{
    font-size: 36px;
    margin: 0;
}
.srvcImgCont{
    grid-area: srvcImgCont;
    border-radius: 8px;
    padding: 10px;
}
.servicioImg{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 10px;
}
.srvcTxt{
    grid-area: srvcTxt;
    padding: 8px 12px;
    line-height: 22px;
    text-align: center;
    justify-content: center;
}
/*--------------------footer-------------------*/
 .footer{
    grid-area: footer;
    background-color:rgb(238, 98, 138);
} 
.footerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.footerCopyright{
    padding: 24px 0px 15px 0px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
} 
.footerNav{
    width: 100%;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footerNav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footerNav ul li{
    list-style: none;
    padding: 5px;
}
.footerNav ul li a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.footerNav ul li a:hover{
    color: #FFCDD4;
}

@media(max-width:960px){
    .serviciosContainer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 94%;
        margin: 3%;
    }
    .servicio{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}
@media(max-width:580px){
    .servicio{
        flex-direction: column;
    }
}